# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
# basic settings
[mysqld]
user        = mysql
pid-file    = /var/run/mysqld/mysqld.pid
socket      = /var/run/mysqld/mysqld.sock
basedir     = /usr
datadir     = /var/lib/mysql
log-bin     = /var/lib/mysql/mysql-bin
port        = 3306
bind-address = 0.0.0.0
skip-networking = false
skip-name-resolve